@media (max-width: 900px) {
  .header .appBar .toolBar{
    padding: 0 1px;
  } 
  .header .avatar {
    display: none;
  }
}

@media (max-width: 650px) {
  .header .appBar .toolBar .headerTitle{
    display: none;
  }
  .header .options {
    width: 100%;
    justify-content: space-between;
  }
}
